fastapi==0.115.0
uvicorn==0.30.6
pymongo==4.8.0
mongomock==4.1.2
chromadb>=0.5.20
langchain>=0.3.0
langchain-google-genai
langchain-openai
langchain-groq
pydantic==2.9.2
pypdf==5.0.0
python-multipart==0.0.9
python-dotenv==1.0.1
